<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RssAggregator.Data.Sql.Properties.Settings.weaveConnectionString"
            connectionString="Data Source=ykgd4qav8g.database.windows.net,1433;Initial Catalog=weave;User ID=aemami99"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>