<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
		<section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<dataCacheClients>
		<dataCacheClient name="default" maxConnectionsToServer="2" isCompressionEnabled="true">
			<!--To use the in-role flavor of Windows Azure Caching, set identifier to be the cache cluster role name -->
			<!--To use the Windows Azure Caching Service, set identifier to be the endpoint of the cache cluster -->
			<autoDiscover isEnabled="true" identifier="weaveusercache.cache.windows.net" />

			<localCache isEnabled="true" sync="NotificationBased" objectCount="100000" ttlValue="1800" />
			<clientNotification pollInterval="5" />
			
			<!--serializationProperties 
				serializer="CustomSerializer" 
				customSerializerType="Weave.User.Service.Cache.UserInfoCacheSerializer, Weave.User.Service.Cache" 
			/-->
			<!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
			<securityProperties mode="Message" sslEnabled="false" protectionLevel="None">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd2VhdmV1c2VyY2FjaGU0OTU2LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZEck9LeXV6OUZWTklNQTkxWEZrOG5nZVJSRUpYZDRkVWVNaFdEa0cxN3RnPSZodHRwOi8vd2VhdmV1c2VyY2FjaGUuY2FjaGUud2luZG93cy5uZXQv" />
			</securityProperties>
		</dataCacheClient>
	</dataCacheClients>
	
</configuration>