<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Weave.AccountManagement.Sql.Properties.Settings.weaveaccount_dbConnectionString"
            connectionString="Data Source=eb0l5hjvzm.database.windows.net,1433;Initial Catalog=weaveaccount_db;User ID=aemami99"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>